<html>
<head>
    <link rel="stylesheets" href="public/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="utf-8">
    <title>Login_App
    </title>
</head>
<div class="container">
    <div class="header clearfix">
        <nav>
            <!-- NAV BAR  -->
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <!-- might need to fix routing -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Sign In</a>
                    <!--  need to fix routing -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sign Out</a>
                    <!--  need to fix routing -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/homeStream">Home Stream</a>
                    <!--  need to fix routing -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Upload Image</a>
                    <!--  need to fix routing -->
                </li>
            </ul>
        </nav>
    </div>
    <!--            END OF NAV----------------------->

    <div class="container">
        <% articles.forEach(function(post){ %>
            <h1><%= post.username %></h1>
            <h1><%= post.hashtag %></h1>
            <a href="/edit/<%=post.post_id%>">Edit</a>
            <p>
                <%= post.description %>
            </p>
            <img src="/<%= post.images %>" alt="image">
            <form action="/deleteImage" method="POST">
                <input class="article-delete-btn" type="submit" value="Delete Post">
                <input name="_method" type="hidden" value="DELETE">
                <input name="post_id" type="hidden" value="<%= post.post_id %>">
            </form>

            <% }) %>
    </div>
