
<head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/comments.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Megrim|Playfair+Display|Exo" rel="stylesheet">
    <meta charset="utf-8">
    <title>Login_App
    </title>
</head>
<div class="jumbotron">
    <div class="container">
        <div class="font-effect-neon">DWE Designs</div>
    </div>
</div>

<div class="container">
    <div class="header clearfix">
        <nav>
            <!-- NAV BAR  -->
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <!-- might need to fix routing -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Sign In</a>
                    <!--  need to fix routing -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sign Out</a>
                    <!--  need to fix routing -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/homeStream">Home Stream</a>
                    <!--  need to fix routing -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Upload Image</a>
                    <!--  need to fix routing -->
                </li>
            </ul>
        </nav>
    </div>

    <div class="grid-system">
        <div class="container">
          <div class="row">
                <% articles.forEach(function(post){ %>
                    <div class="col-md-4">
                        <div class="profile-name">
                            <%= post.username %>
                        </div>
                        <p><span class="username">Description:</span>
                            <%= post.description %>
                        </p>
                        <div class="content">
                            <div class="image"><img src=<%=post.image %> class="img-thumbnail" alt="fish"></div>
                            <div class="comments">
                                <p><span class="username">Comments:</span></p>
                                <p><span class="username">Project Link:</span>
                                    <%= post.project_link %>
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <% }) %>

            <!--<div class="content-container">
<div class="container">
        <% articles.forEach(function(post){ %>
            <section class="body-container">
                <div class="card">
                <div class="card-header">
            </div>
                <div class="profile-info">
                <div class="profile-name"><%= post.username %></div>
            </div>
            <div class="content">
            <div> <img src="/file_uploader/image-1504746733795.jpg" class="img-thumbnail" alt="fish">
            </div>
           <div class="card-footer">
           <div class="description">
             <div class="profile-name"><%= post.username %></div>
        <p><span class="username">Description:</span> <%= post.description %></p>

        <div class="comments">
            <p><span class="username">Comments:</span></p>
            <p><span class="username">Project Link:</span><%= post.project_link %></p>
        </div>
            <form method="POST" action="/addComment">
                <div class="form-group">
                    <label>Add Comment</label>
                    <textarea class="form-control" placeholder="description" name="description"> </textarea>
                </div>
                <input type="hidden" name="user_id" value="1">
                <button type="submit" class="btn btn-default">Submit</button>
                <div class="edit-link">
                <a href="/editPost/:<%= post.post_id %>">EDIT</a>
                </div>
            </form>
            <form action="/deletePortfolio" method="POST">
            <input class="article-delete-btn" type="submit" value="Delete Post">
            <input name="_method" type="hidden" value="DELETE">
            <input name="post_id" type="hidden" value="<%= post.post_id %>">
            </form>
        <% }) %>
    </section>
  </div> -->

</html>
